{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--shopping cart area start -->
    <div class="shopping_cart_area" style="margin-top: 200px">
        <div class="container">
            <form action="#">
                <div class="cart_page_inner mb-60">
                    <div class="row">
                        <div class="col-12">
                            <div class="cart_page_tabel">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>product</th>
                                        <th>information</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart.cart.values %}
                                        <tr class="border-top">
                                            <td>
                                                <div class="cart_product_thumb">
                                                    <img src="{{ item.photo }}" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cart_product_text">
                                                    <h4>{{ item.name }}</h4>
                                                    <ul>
                                                        <li><i class="ion-ios-arrow-right"></i> Color :
                                                            <span>{{ item.color }}</span>
                                                        </li>
                                                        <li><i class="ion-ios-arrow-right"></i> Size :
                                                            <span>{{ item.size }}</span>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cart_product_price" id="price" data-product-price="{{ item.price }}">
                                                    ${{ item.price }}
                                                </div>
                                            </td>
                                            <td class="product_quantity">
                                                <div class="cart_product_quantity">
                                                    <input class="change-quantity" id="{{ item.product_id }}" min="1"
                                                           max="100"
                                                           value="{{ item.quantity }}" type="number">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cart_product_price">
                                                    <span class="product_price_container">
                                                            ${{ item.sub_total }}
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="cart_product_remove text-right">
                                                    <a href="#" class="remove-product"
                                                       data-product-id="{{ item.product_id }}"
                                                       data-color="{{ item.color }}"
                                                       data-size="{{ item.size }}"
                                                    >
                                                        <i class="ion-android-close"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    <tr class="border-top">
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart_page_button border-top d-flex justify-content-between">
                                <div class="shopping_cart_btn">
                                    <a href="" class="btn btn-primary border">CLEAR SHOPPING CART</a>
                                    <button class="btn btn-primary border" type="submit">UPDATE YOUR CART</button>
                                </div>
                                <div class="shopping_continue_btn">
                                    <button class="btn btn-primary" type="submit">CONTINUE SHOPPING</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area start-->
                <div class="cart_page_bottom">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="shopping_coupon_calculate top">
                                <h3 class="border-bottom">Calculate Shipping </h3>
                                <select class="select_option border">
                                    <option value="1">United Kingdom (UK)</option>
                                    <option value="2">Åland Islands</option>
                                    <option value="3">Afghanistan</option>
                                    <option value="4">Belgium</option>
                                    <option value="5">Albania</option>
                                </select>
                                <input class="border" placeholder="State / Country" type="text">
                                <input class="border" placeholder="Postcode / Zip" type="text">
                                <button class="btn btn-primary" type="submit">get a quote</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="shopping_coupon_calculate">
                                <h3 class="border-bottom">Coupon Discount </h3>
                                <p>Enter your coupon code if you have one.</p>
                                <input class="border" placeholder="Enter your code" type="text">
                                <button class="btn btn-primary" type="submit">apply coupon</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="grand_totall_area">
                                <div class="grand_totall_inner border-bottom">
                                    <div class="cart_grandtotal d-flex justify-content-between">
                                        <p>total price</p>
                                        <span id="total_price" data-total-value="{{ cart.get_total_price }}">
                                            ${{ cart.get_total_price }}
                                        </span>
                                    </div>
                                </div>
                                <div class="proceed_checkout_btn">
                                    <a class="btn btn-primary" href="#">Proceed to Checkout</a>
                                </div>
                                <a href="#">Checkout with Mutilple Adresses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area end-->
            </form>
        </div>
    </div>
    <!--shopping cart area end -->
    <script src="{% static 'js/cart_custom.js' %}"></script>
{% endblock %}
