<section class="slider_section mb-63">
    <div class="slider_area slick_slider_activation" data-slick='{
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "arrows": true,
            "dots": true,
            "autoplay": false,
            "speed": 300,
            "infinite": true
        }'>
        {% for slide in slider %}
            <div class="single_slider d-flex align-items-center" data-bgimg="{{ slide.photo.url }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-7">
                            <div class="slider_text">
                                <span>{{ slide.shortdescription }}</span>
                                <h1>{{ slide.title }}</h1>
                                <p>{{ slide.description | safe }}</p>
                                <a class="btn btn-primary" href="{{ slide.link }}">Explore Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>
</section>